body {
  background-color: var(--background-color);
}

main {
  max-width: 100rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: var(--text-color);
}

.actions {
  display: flex;
  align-items: center;
  gap: 2rem;

  button {
    padding: 0.5 rem;
  }
}

.contador_wrapper {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.contador_btn {
  padding: 1rem;
  background-color: var(--button-background-color);
}
